.validation-requirements div{
    font-size: 11pt;
    color: #777;
}
.error-message{
    cursor: default !important;
}
.error-message:hover{
    background-color: #dc3545 !important;
}
.no-posts{
    color:#999;
    user-select: none;
    width: fit-content;
}