.my-nav{
    box-shadow: 0 -3px 10px 0px rgba(0,0,0,0.5);
    align-items: center;
}
.add-post-btn{
    background-color: var(--bs-primary);
}
@media only screen and (max-width: 400px) {
    .shrink-text{
        font-size: 12px !important;
    }
}